<?xml version="1.0" encoding="ISO-8859-1"?>
<Policy version="0.1" type="value" model="SDM.pomdp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="policyx.xsd">
<AlphaVector vectorLength="2" numObsValue="1" numVectors="1">
<Vector action="0" obsValue="0">-9853.94 4797.8 </Vector>
</AlphaVector> </Policy>
